/* navbar */
.navbar-nav .nav-link.active{
    color: #AC3B4D;
}
.navbar a {
    color: white;
}
.nav-link:hover{
    color: #AC3B4D;
}
/* header */
.header{
    background-image: url(../Images/slideshow-1.jpg);
    background-size: cover;
    background-position: center;
}
.header h1{
    max-width: 500px;
    text-align: center;
    line-height:75px ;
}

/* <!-- about us --> */

.section-header h2::after{
    content: "";
    position: absolute;
    background-color: black;
    width: 50px;
    height: 1px;
    left: 30%;
    bottom: -15;
    transform: translate(-50);
    transition:0.3s all;
}
.section-header:hover h2::after{
    width: 100px;
}
.section-header p{
    width: 600px;
}
.about-us .progress-bar {
    background-color: #F25454;
}
.about-us .progress{
    height: 0.3rem;
}
   
/* <!-- mission --> */

.mission{
    background-image: url(../Images/mission.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}
.utilities{
    transition: 0.3s all;
    color: white;
    cursor: pointer;
    
}

.utilities:hover{
    color: #F25454;
}

/* <!-- our team--> */
